*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Agency FB;
    color: white;
}

.bg-menu{
    background-color: #09A2F9;
}

header{
    font-size: 10px;
    font-family: Agency FB;
}

header img{
    display: flex;
    width: 100px;
    height: 60px;
}

header nav ul{
    display: flex;
    column-gap: 5px;
    /*align-items: center;*/
    font-weight: bold;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

header nav ul li a:hover{
    color: #FFE400;
}

.boton button{
    height: 33px;
    width: 100px;
    background-color: #FFE400;
    color: white;
    font-family: Agency FB;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    align-items: center;
}

.boton button:hover{
    background-color: #09A2F9;
    color: #FFE400;
    border: 3px solid #FFE400;
    border-radius: 2px;
}

/*Propiedades del Padre*/
main{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
                        "principal principal principal"
                        "promocion promocion promocion"
                        "promocion2 promocion2 promocion2"
                        "card card card"
                        "equipo equipo equipo"
                        "clase clase clase"
                        "contacto contacto contacto";
    justify-items: center;
    align-items: center;
}

/*Propiedades de los Hijos*/

.principal{
    width: 100%;
    font-family: Agency FB;
    font-weight: bold;
    grid-area: principal;
}

.principal img{
    margin: 0px;
    width: 100%;
    height: 290px;
}

.principal h1{
    width: 233px;
    text-align: left;
    color: white;
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    top: 210px;
    left: 40px;
}

.titulos h4{
    width: 100%;
    text-align: center;
    color: white;
    font-family: Agency FB;
    font-weight: bold;
    font-size: 35px;
    position: absolute;
    top: 260px;
}

.principal button{
    height: 33px;
    width: 100px;
    position: absolute;
    top: 310px;
    left: 80px;
}

.promocion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #09A2F9;
    grid-area: promocion;
}

.promocion h2{
    font-size: 16px;
    color: #fff;
    font-family: Agency FB;
    font-weight: bold;
}

.titulo h4{
    width: 100%;
    text-align: center;
    color: white;
    font-family: Agency FB;
    font-weight: bold;
    font-size: 25px;
}

.promocion h2, button{
    margin: 12px;
}

.promocion2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-area: promocion2;
}

.promocion2 img{
    margin: 0px;
    width: 100%;
    height: 301px;
}

.promocion2 h1{
    width: 187px;
    text-align: left;
    color: white;
    font-family: Agency FB;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 560px;
    left: 40px;
}

.promocion2 h2{
    width: 144px;
    text-align: left;
    color: #09A2F9;
    font-family: Agency FB;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 630px;
    left: 80px;
}

.promocion2 button{
    height: 34px;
    width: 108px;
    position: absolute;
    top: 660px;
    left: 100px;
}

.equipo{
    grid-area: equipo;
    text-align: center;
    margin: 10px;
    color: white;
}

.equipo h2{
    margin: 10px;
    font-size: 24px;
    font-family: Agency FB;
    font-weight: bold;
}

.equipo img{
    height: 400px;
    width: 290px;
    margin: 10px;
    justify-content: center;
}

.card{
    grid-area: card;
    display: flexbox;
    text-align: center;
    margin: 0px;
}

.card h3{
    font-size: 35px;
}
.card h5{
    font-size: 35px;
    margin: 0px;
}

#precio p{
    margin: 0%;
    color: #09A2F9;
    font-size: 70px;
    font-family: Agency FB;
    font-weight: bold;
}

.card button{
    margin: 10px;
    height: 54px;
    width: 138px;
    background-color: #09A2F9;
    color: white;
    font-family: Agency FB;
    font-size: 24px;
    border: none;
    border-radius: 4px;
}

.clase{
    grid-area: clase;
}

.clase img{
    width: 100%;
    justify-content: center;
}

.contacto{
    grid-area: contacto;
}

.contacto form{
    width: 100%;
    text-align: left;
    font-family: Agency FB;
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
    color: white;
    justify-content: center;
}

.contacto input{
    background: #707070;
    font-size: 16px;
    width: 345px;
    height: 56px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: none;
}

.contacto input::-webkit-input-placeholder{
    color: #fff;
}

.contacto button{
    margin: 5px 0;
    height: 54px;
    width: 157px;
    background-color: #09A2F9;
    color: white;
    font-family: Agency FB;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
}

footer{
    text-align: center;
    color: white;
    font-family: Agency FB;
    font-weight: bold;
}

footer img{
    margin: 0%;
    height: 97px;
    width: 107px;
}

footer h3{
    margin: 10px 0;
    text-decoration: none;
    color: #09A2F9;
}

footer .primero div, .primero p{
    display: inline-block;
    margin: 10px;
    width: 250px;
    height: 100%;
}

footer ol li{
    list-style: none;
    font-weight: bold;
}

footer ol li a{
    margin: 2px;
    text-decoration: none;
    color: white;
}

footer form{
    text-align: left;
    font-family: Agency FB;
    font-weight: bold;
    margin: 5px;
}

footer input{
    background: #707070;
    font-size: 20px;
    width: 245px;
    height: 56px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: none;
}

input::-webkit-input-placeholder{
    color: #fff;
}

footer button{
    margin: 5px 0;
    height: 54px;
    width: 157px;
    background-color: #09A2F9;
    color: white;
    font-family: Agency FB;
    font-size: 20px;
    border: none;
    border-radius: 4px;
}

footer .segundo div, .segundo p{
    display: inline-block;
    margin: 5px;
    width: 300px;
}

footer .segundo i{
    margin: 5px;
    color: white;
}

/*MediaQueries*/
@media (max-width: 992px) and (min-width: 576px)  {
    .equipo img{
        height: 300px;
        width: 190px;
        margin: 10px;
        justify-content: center;
    }

    .card{
        grid-area: card;
        display: flexbox;
        text-align: center;
        margin: 0px;
    }

    .card div{
        width: 200px;
    }

    .card h3{
        font-size: 35px;
        padding: 10px;
    }

    .card h5{
        font-size: 25px;
    }

    #precio p{
        margin: 0%;
        color: #09A2F9;
        font-size: 50px;
        font-family: Agency FB;
        font-weight: bold;
    }

    .card button{
        margin: 10px;
        height: 44px;
        width: 138px;
        font-size: 18px;
    }

    footer img{
        margin: 0%;
        height: 70px;
        width: 107px;
    }

    footer .primero div, .primero p{
        width: 180px;
        height: 100%;
    }

    footer p{
        font-size: 12px;
    }

    footer input{
        font-size: 16px;
        width: 180px;
        height: 46px;
    }

    footer button{
        height: 46px;
        width: 157px;
        font-size: 18px;
    }

    footer .segundo div, .segundo p{
        display: inline;
        margin: 15px;
        width: 100%;
    }
}

@media screen and (min-width:993px){

    header{
        font-size: 24px;
    }

    header nav ul li a{
        margin: 20px;
    }

    .boton button{
        height: 50px;
        width: 238px;
        color: white;
        font-size: 24px;
    }

    /*Propiedades de los Hijos*/

    .principal img{
        width: 100%;
        height: 700px;
    }

    .principal h1{
        width: 757px;
        font-size: 80px;
        position: absolute;
        top: 340px;
        left: 100px;
    }

    .titulos h4{
        width: 100%;
        text-align: center;
        color: white;
        font-family: Agency FB;
        font-size: 75px;
        position: absolute;
        top: 560px;
    }

    .principal button{
        position: absolute;
        top: 650px;
        left: 400px;
    }

    .promocion{
        width: 100%;
        height: 81px;
    }

    .promocion h2{
        font-size: 48px;
    }

    .promocion h2, button{
        margin: 10px;
    }

    .promocion2 img{
        width: 100%;
        height: 700px;
    }

    .promocion2 h1{
        width: 420px;
        font-size: 74px;
        position: absolute;
        top: 1000px;
        left: 100px;
    }

    .promocion2 h2{
        width: 757px;
        text-align: left;
        color: #09A2F9;
        font-size: 80px;
        position: absolute;
        top: 1280px;
        left: 200px;
    }

    .promocion2 button{
        position: absolute;
        top: 1410px;
        left: 320px;
    }

    .titulo h4{
        margin: 20px;
        font-family: Agency FB;
        font-size: 55px;
    }

    .card button{
        width: 238px;
    }

    .equipo{
        grid-area: equipo;
        text-align: center;
        margin: 20px;
    }

    .equipo h2{
        margin: 20px;
        font-size: 48px;
    }

    .equipo img{
        margin: 15px;
        width: 316px;
    }

    .contacto input{
        width: 645px;
    }

    footer{
        text-align: center;
    }

    footer .primero div, .primero p{
        width: 350px;
        height: 100%;
    }

    footer img{
        margin: 0%;
        height: 60px;
        width: 107px;
    }

    footer input{
        font-size: 18px;
        width: 280px;
        height: 56px;
    }

    footer .segundo div, .segundo p{
        display: inline;
        margin: 20px 30px;
    }

}





