*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Agency FB;
    color: white;
}

.bg-menu{
    background-color: #09A2F9;
}

header{
    font-size: 16px;
    font-family: Agency FB;
}

header img{
    display: flex;
    width: 100%;
    height: 47px;
}

header nav ul{
    display: flex;
    column-gap: 5px;
    font-weight: bold;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

header nav ul li a:hover{
    color: #FFE400;
}

.boton button{
    height: 33px;
    width: 120px;
    background-color: #FFE400;
    color: white;
    font-family: Agency FB;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    align-items: center;
}

.boton button:hover{
    background-color: #09A2F9;
    color: #FFE400;
    border: 3px solid #FFE400;
    border-radius: 2px;
    font-size: 18px;
}

button a{
    text-decoration: none;
    color: white;
}

button a:hover{
    color: white;
}

/*Propiedades del Padre*/
main{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
                        "principal principal principal"
                        "promocion promocion promocion"
                        "promocion2 promocion2 promocion2"
                        "card card card"
                        "equipo equipo equipo"
                        "clase clase clase"
                        "contacto contacto contacto";
    justify-items: center;
    align-items: center;
}

/*Propiedades de los Hijos*/

.principal{
    width: 100%;
    font-family: Agency FB;
    font-weight: bold;
    grid-area: principal;
    position: relative;
}

.principal img{
    margin: 0px;
    width: 100%;
    height: 250px;
}

.principal h1{
    width: 200px;
    text-align: left;
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 40px;
}

.titulos h4{
    width: 100%;
    text-align: center;
    color: white;
    font-family: Agency FB;
    font-weight: bold;
    font-size: 35px;
    position: absolute;
    top: 140px;
}

.principal button{
    height: 34px;
    width: 108px;
    position: absolute;
    top: 180px;
    left: 80px;
}

.promocion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: 50px;
    background-color: #09A2F9;
    grid-area: promocion;
}

.promocion h2, button{
    margin: 5px;
}

.promocion h2{
    font-size: 16px;
    color: #fff;
    font-family: Agency FB;
    font-weight: bold;
}

.titulo h4{
    margin: 15px 0px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Agency FB;
    font-weight: bold;
    font-size: 30px;
}

.promocion2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-area: promocion2;
    position: relative;
}

.promocion2 img{
    margin: 0px;
    width: 100%;
    height: 270px;
}

.promocion2 h1{
    width: 187px;
    text-align: left;
    color: white;
    font-family: Agency FB;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    top: 70px;
    left: 40px;
}

.promocion2 h2{
    width: 144px;
    text-align: left;
    color: #09A2F9;
    font-family: Agency FB;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 170px;
    left: 80px;
}

.promocion2 button{
    height: 34px;
    width: 108px;
    position: absolute;
    top: 210px;
    left: 80px;
}

.equipo{
    grid-area: equipo;
    text-align: center;
    margin: 10px;
    color: white;
}

.equipo h2{
    margin: 10px;
    font-size: 24px;
    font-family: Agency FB;
    font-weight: bold;
}

.equipo img{
    height: 400px;
    width: 290px;
    margin: 10px;
    justify-content: center;
}

.card{
    grid-area: card;
    display: flexbox;
    text-align: center;
    margin: 0px;
}

.card h5{
    font-size: 30px;
    margin: 0px;
}

#precio p{
    margin: 0%;
    color: #09A2F9;
    font-size: 50px;
    font-family: Agency FB;
    font-weight: bold;
}

.card button{
    margin: 5px;
    height: 54px;
    width: 178px;
    background-color: #09A2F9;
    color: white;
    font-family: Agency FB;
    font-size: 24px;
    border: none;
    border-radius: 4px;
}

.clase{
    grid-area: clase;
}

.clase img{
    width: 100%;
    justify-content: center;
}

.contacto{
    grid-area: contacto;
}

.contacto form{
    width: 100%;
    text-align: left;
    font-family: Agency FB;
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
    color: white;
    justify-content: center;
}

.contacto input{
    background: #707070;
    font-size: 16px;
    width: 345px;
    height: 56px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: none;
}

.contacto input::-webkit-input-placeholder{
    color: #fff;
}

.contacto button{
    margin: 5px 0;
    height: 54px;
    width: 157px;
    background-color: #09A2F9;
    color: white;
    font-family: Agency FB;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
}

footer{
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: Agency FB;
    font-weight: bold;
}

footer p{
    margin: 0px;
    font-size: 16px;
}

footer img{
    margin: 0%;
    width: 150px;
    height: 47px;
}

footer h3{
    margin: 5px 0;
    text-decoration: none;
    color: #09A2F9;
    font-weight: bold;
    font-size: 18px;
}

footer .primero div, .primero p{
    display: inline-block;
    margin: 10px;
    width: 250px;
    height: 100%;
}

footer ol{
    padding-left: 0px !important;
}

footer ol li{
    list-style: none;
    font-weight: bold;
}

footer ol li a{
    margin: 2px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

footer ol li a:hover{
    color: #FFE400;
}

footer form{
    text-align: left;
    font-family: Agency FB;
    font-weight: bold;
    margin: 5px;
}

footer input{
    background: #707070;
    font-size: 16px;
    width: 245px;
    height: 46px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: none;
}

input::-webkit-input-placeholder{
    color: #fff;
}

footer button{
    margin: 5px 0;
    height: 46px;
    width: 157px;
    background-color: #09A2F9;
    color: white;
    font-family: Agency FB;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

footer .segundo div, .segundo p{
    display: inline-block;
    margin: 5px;
    width: 300px;
}

footer .segundo i{
    margin: 5px;
    color: white;
}

/*MediaQueries*/
@media (max-width: 992px) and (min-width: 576px)  {
    .promocion h2{
        font-size: 25px;
    }

    .equipo img{
        height: 300px;
        width: 190px;
        margin: 10px;
        justify-content: center;
    }

    .card{
        grid-area: card;
        display: flexbox;
        text-align: center;
        margin: 0px;
    }

    .card div{
        width: 200px;
    }

    .card h5{
        font-size: 20px;
    }

    #precio p{
        margin: 0%;
        color: #09A2F9;
        font-size: 35px;
        font-family: Agency FB;
        font-weight: bold;
    }

    .card button{
        margin: 10px;
        height: 44px;
        width: 138px;
        font-size: 18px;
    }

    .clase{
        text-align: center;
    }

    .clase img{
        width: 90%;
    }

    footer img{
        margin: 4%;
        height: 50px;
        width: 150px;
    }

    footer .primero div, .primero p{
        width: 170px;
        height: 100%;
    }

    footer p{
        font-size: 12px;
    }

    footer input{
        font-size: 16px;
        width: 180px;
        height: 46px;
    }

    footer button{
        height: 46px;
        width: 157px;
        font-size: 16px;
    }

    footer .segundo div, .segundo p{
        display: inline;
        margin: 15px;
        width: 100%;
    }
}

@media screen and (min-width:993px){

    header{
        font-size: 24px;
    }

    header img{
        width: 100%;
        height: 60px;
    }

    header nav ul li a{
        margin: 20px;
    }

    .boton button{
        height: 50px;
        width: 238px;
        color: white;
        font-size: 24px;
    }

    /*Propiedades de los Hijos*/

    .principal img{
        width: 100%;
        height: 655px;
    }

    .principal h1{
        width: 757px;
        font-size: 80px;
        position: absolute;
        top: 200px;
        left: 100px;
    }

    .titulos h4{
        width: 100%;
        text-align: center;
        color: white;
        font-family: Agency FB;
        font-size: 75px;
        position: absolute;
        top: 460px;
    }

    .principal button{
        position: absolute;
        top: 550px;
        left: 100px;
    }

    .promocion{
        padding: 4rem;
        width: 100%;
        height: 81px;
    }

    .promocion h2{
        font-size: 48px;
    }

    .promocion h2, button{
        margin: 10px;
    }

    .promocion2 img{
        width: 100%;
        height: 700px;
    }

    .promocion2 h1{
        width: 420px;
        font-size: 74px;
        position: absolute;
        top: 100px;
        left: 100px;
    }

    .promocion2 h2{
        width: 757px;
        text-align: left;
        color: #09A2F9;
        font-size: 80px;
        position: absolute;
        top: 380px;
        left: 200px;
    }

    .promocion2 button{
        position: absolute;
        top: 510px;
        left: 400px;
    }

    .titulo h4{
        font-family: Agency FB;
        font-size: 55px;
    }

    .card button{
        width: 238px;
    }

    .equipo{
        grid-area: equipo;
        text-align: center;
        margin: 20px;
    }

    .equipo h2{
        margin: 20px;
        font-size: 48px;
    }

    .equipo img{
        margin: 15px;
        width: 316px;
    }

    .contacto input{
        width: 645px;
    }

    .clase{
        text-align: center;
    }

    .clase img{
        width: 70%;
    }

    footer{
        text-align: center;
    }

    footer p{
        margin: 0px;
        font-size: 16px;
    }

    footer .primero div, .primero p{
        width: 350px;
        height: 100%;
    }

    footer img{
        margin: 0%;
        width: 150px;
        height: 50px;
    }

    footer h3 {
        margin: 10px 0;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #09A2F9;
    }

    footer input{
        font-size: 18px;
        width: 280px;
        height: 46px;
    }

    footer button{
        margin: 0px;
        height: 46px;
        width: 157px;
        font-size: 20px;
    }

    footer .segundo div, .segundo p{
        padding: 1rem;
        display: inline;
        margin: 40px 30px;
    }

}





