header nav ul, main .promocion {
  display: flex;
  justify-content: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  font-size: 16px;
  font-family: Agency FB;
  background-color: #09A2F9; }
  header img {
    display: flex;
    width: 100%;
    height: 47px; }
  header nav ul {
    column-gap: 5px;
    font-weight: bold; }
    header nav ul li a {
      text-decoration: none;
      color: #FFFFFF; }
    header nav ul li a:hover {
      color: #FFE400; }

.boton button {
  height: 33px;
  width: 120px;
  background-color: #FFE400;
  color: #FFFFFF;
  font-family: Agency FB;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  align-items: center; }

.boton button:hover {
  background-color: #09A2F9;
  color: #FFE400;
  border: 3px solid #FFE400;
  border-radius: 2px;
  font-size: 18px; }

.boton button a {
  text-decoration: none;
  color: white; }

.boton button a:hover {
  color: white; }

main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "principal principal principal" "promocion promocion promocion" "promocion2 promocion2 promocion2" "card card card" "equipo equipo equipo" "clase clase clase" "contacto contacto contacto";
  justify-items: center;
  align-items: center; }
  main .principal {
    width: 100%;
    font-family: Agency FB;
    font-weight: bold;
    grid-area: principal;
    position: relative; }
    main .principal img {
      margin: 0px;
      width: 100%;
      height: 250px; }
    main .principal h1 {
      width: 200px;
      text-align: left;
      color: #FFFFFF;
      font-size: 24px;
      font-weight: bold;
      position: absolute;
      top: 50px;
      left: 40px; }
    main .principal button {
      height: 34px;
      width: 108px;
      position: absolute;
      top: 180px;
      left: 80px; }
  main .titulos h4 {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-family: Agency FB;
    font-weight: bold;
    font-size: 35px;
    position: absolute;
    top: 140px; }
  main .promocion {
    width: 100%;
    height: 50px;
    background-color: #09A2F9;
    grid-area: promocion;
    align-items: center; }
    main .promocion h2, main .promocion button {
      margin: 5px; }
    main .promocion h2 {
      font-size: 16px;
      color: #FFFFFF;
      font-family: Agency FB;
      font-weight: bold; }
  main .equipo {
    grid-area: equipo;
    text-align: center;
    margin: 10px;
    color: #FFFFFF; }
    main .equipo h2 {
      margin: 10px;
      font-size: 24px;
      font-family: Agency FB;
      font-weight: bold; }
    main .equipo img {
      width: 290px;
      height: 400px;
      margin: 10px;
      justify-content: center; }

footer {
  text-align: center;
  color: #FFFFFF;
  font-family: Agency FB;
  font-weight: bold; }
  footer img {
    margin: 0%;
    width: 150px;
    height: 47px; }
  footer p {
    margin: 0px;
    font-size: 12px; }
  footer h3 {
    margin: 5px 0;
    font-weight: bold;
    text-decoration: none;
    color: #09A2F9;
    font-size: 18px; }
  footer .primero div, footer .primero p {
    display: inline-block;
    margin: 10px;
    width: 250px;
    height: 100%; }
  footer ol {
    padding-left: 0px !important; }
    footer ol li {
      list-style: none;
      font-weight: bold; }
      footer ol li a {
        margin: 2px;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 16px; }
      footer ol li a:hover {
        color: #FFE400; }
  footer form {
    text-align: left;
    font-family: Agency FB;
    font-weight: bold;
    margin: 5px; }
    footer form input {
      background: #707070;
      font-size: 16px;
      width: 245px;
      height: 46px;
      margin-top: 10px;
      padding-left: 10px;
      margin-bottom: 20px;
      border: none; }
    footer form input::-webkit-input-placeholder {
      color: #ffffff; }
    footer form button {
      margin: 5px 0;
      height: 46px;
      width: 157px;
      background-color: #09A2F9;
      color: #FFFFFF;
      font-family: Agency FB;
      font-size: 16px;
      border: none;
      border-radius: 4px; }
  footer .segundo div, footer .segundo p {
    display: inline-block;
    margin: 5px;
    width: 300px; }
  footer .segundo i {
    margin: 5px;
    color: #FFFFFF; }

/*MediaQueries*/
@media (max-width: 992px) and (min-width: 576px) {
  main .promocion h2 {
    font-size: 25px; }
  main .equipo img {
    width: 170px;
    height: 250px;
    margin: 5px;
    justify-content: center; }
  footer img {
    margin: 4%;
    height: 50px;
    width: 150px; }
  footer .primero div, footer .primero p {
    width: 190px;
    height: 100%;
    margin: 0px; }
  footer h3 {
    margin: 0px; }
  footer p {
    font-size: 12px; }
  footer form input {
    font-size: 20px;
    width: 180px;
    height: 46px; }
  footer form input::-webkit-input-placeholder {
    color: #ffffff; }
  footer form button {
    margin: 0px;
    height: 46px;
    width: 157px;
    font-size: 16px; }
  footer .segundo div, footer .segundo p {
    display: inline;
    margin: 15px;
    width: 100%; } }

@media screen and (min-width: 993px) {
  header {
    font-size: 24px; }
    header img {
      width: 100%;
      height: 60px; }
    header nav ul li a {
      margin: 20px; }
    header .boton button {
      width: 238px;
      height: 50px;
      font-size: 24px; }
  main .principal img {
    margin: 0px;
    width: 100%;
    height: 655px; }
  main .titulos h4 {
    font-size: 75px;
    position: absolute;
    top: 460px; }
  main .promocion {
    width: 100%;
    height: 81px;
    padding: 4rem; }
    main .promocion h2 {
      font-size: 48px; }
    main .promocion h2, main .promocion button {
      margin: 10px; }
    main .promocion button {
      height: 50px;
      width: 237px;
      font-size: 22px; }
  main .titulo h4 {
    margin: 20px;
    font-family: Agency FB;
    font-size: 55px; }
  main .equipo h2 {
    margin: 20px;
    font-size: 48px; }
  main .equipo img {
    width: 316px; }
  footer p {
    margin: 0px;
    font-size: 16px; }
  footer .primero div, footer .primero p {
    width: 350px;
    height: 100%;
    justify-content: center; }
  footer img {
    margin: 0%;
    width: 150px;
    height: 50px; }
  footer h3 {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #09A2F9; }
  footer form input {
    font-size: 18px;
    width: 280px;
    height: 46px; }
  footer form input::-webkit-input-placeholder {
    color: #ffffff; }
  footer form button {
    margin: 0px;
    color: white;
    font-size: 20px; }
  footer .segundo div, footer .segundo p {
    display: inline;
    margin: 20px 30px; } }
