@import "utilities/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Menu
header {
    font-size: 10px;
    font-family: Agency FB;
    background-color: $color-principal;
    img{
        display: flex;
        width: 100%;
        height: 60px;
    }
    nav ul{
        display: flex;
        column-gap: 5px;
        font-weight: bold;
        li{
            a{
                text-decoration: none;
                color: $color-texto;
            }
            a:hover{
                color: $color-boton;
            }
        }
    }
}

.boton{
    button{
    height: 33px;
    width: 100px;
    background-color: $color-boton;
    color: $color-texto;
    font-family: Agency FB;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    align-items: center;
    }
    button:hover{
        background-color: $color-principal;
        color: $color-boton;
        border: 3px solid $color-boton;
        border-radius: 2px;
    }
}

//Propiedades del Padre
main{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
                        "principal principal principal"
                        "promocion promocion promocion"
                        "promocion2 promocion2 promocion2"
                        "card card card"
                        "equipo equipo equipo"
                        "clase clase clase"
                        "contacto contacto contacto";
    justify-items: center;
    align-items: center;
    //Propiedades de los Hijos
    .principal{
        width: 100%;
        font-family: Agency FB;
        font-weight: bold;
        grid-area: principal;
        img{
            margin: 0px;
            width: 100%;
            height: 290px;
        }
        h1{
            width: 233px;
            text-align: left;
            color: $color-texto;
            font-size: 26px;
            font-weight: bold;
            position: absolute;
            top: 210px;
            left: 40px;
        }
        button{
            height: 33px;
            width: 100px;
            position: absolute;
            top: 310px;
            left: 80px;
        }
    }

    .titulos h4{
        width: 100%;
        text-align: center;
        color: $color-texto;
        font-family: Agency FB;
        font-weight: bold;
        font-size: 35px;
        position: absolute;
        top: 260px;
    }

    .promocion{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: $color-principal;
        grid-area: promocion;
        h2{
            font-size: 15px;
            color: $color-texto;
            font-family: Agency FB;
            font-weight: bold;
        }
        h2, button{
            margin: 5px;
        }
    }

    .equipo{
        grid-area: equipo;
        text-align: center;
        margin: 10px;
        color: $color-texto;
        h2{
            margin: 10px;
            font-size: 24px;
            font-family: Agency FB;
            font-weight: bold;
        }
        img{
            height: 400px;
            width: 290px;
            margin: 10px;
            justify-content: center;
        }
    }
}

footer{
    text-align: center;
    color: $color-texto;
    font-family: Agency FB;
    font-weight: bold;
    img{
        margin: 0%;
        height: 97px;
        width: 107px;
    }
    h3{
        margin: 10px 0;
        text-decoration: none;
        color: $color-principal;
    }
    .primero div, .primero p{
        display: inline-block;
        margin: 10px;
        width: 250px;
        height: 100%;
    }
    ol{
        li{
            list-style: none;
            font-weight: bold;
            a{
                margin: 2px;
            text-decoration: none;
            color: $color-texto;
            }
            a:hover{
                color: $color-boton;
            }
        }
    }
    form{
        text-align: left;
        font-family: Agency FB;
        font-weight: bold;
        margin: 5px;
        input{
            background: #707070;
            font-size: 20px;
            width: 245px;
            height: 56px;
            margin-top: 10px;
            padding-left: 10px;
            margin-bottom: 20px;
            border: none;
        }
        input::-webkit-input-placeholder{
            color: $color-texto;
        }
        button{
            margin: 5px 0;
            height: 54px;
            width: 157px;
            background-color: $color-principal;
            color: $color-texto;
            font-family: Agency FB;
            font-size: 20px;
            border: none;
            border-radius: 4px;
        }
    }
    .segundo div, .segundo p{
        display: inline-block;
        margin: 5px;
        width: 300px;
    }
    .segundo i{
        margin: 5px;
        color: $color-texto;
    }
}

/*MediaQueries*/
@media (max-width: 992px) and (min-width: 576px)  {

    main{
        .equipo img{
            height: 300px;
            width: 190px;
            margin: 10px;
            justify-content: center;
        }
    }
    footer{
        img{
            margin: 0%;
            height: 70px;
            width: 107px;
        }
        .primero div, .primero p{
            width: 180px;
            height: 100%;
        }
        p{
            font-size: 12px;
        }
        input{
            font-size: 16px;
            width: 180px;
            height: 46px;
        }
        button{
            height: 46px;
            width: 157px;
            font-size: 18px;
        }
        .segundo div, .segundo p{
            display: inline;
            margin: 15px;
            width: 100%;
        }
    }
}

@media screen and (min-width:993px){

    header{
        font-size: 24px;
        nav {
            ul{
                li{
                    a{
                        margin: 20px;
                    }
                }
            }
        }
        .boton{
            button{
                height: 50px;
                width: 238px;
                font-size: 24px;
            }
        }
    }

    main{
        .principal{
            img{
                margin: 0px;
                width: 100%;
                height: 690px;
            }
        }
        .promocion{
            width: 100%;
            height: 81px;
            h2{
                font-size: 38px;
            }
            h2, button{
                margin: 10px;
            }
        }
        .titulos h4{
            font-size: 75px;
            position: absolute;
            top: 560px;
        }
        .titulo h4{
            margin: 20px;
            font-family: Agency FB;
            font-size: 55px;
        }
        .equipo{
            h2{
                margin: 20px;
                font-size: 48px;
            }
            img{
                width: 316px;
            }
        }
    }

    footer{
        .primero div, .primero p{
            width: 350px;
            height: 100%;
        }
        img{
            margin: 0%;
            height: 60px;
            width: 107px;
        }
        input{
            font-size: 18px;
            width: 280px;
            height: 56px;
        }
        .segundo div, .segundo p{
            display: inline;
            margin: 20px 30px;
        }
    }
}
