@import "utilities/variables";
@import "utilities/base/map";
@import "utilities/base/listas";
@import "utilities/base/mixin";
@import "utilities/base/extend";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Menu
header {
    font-size: 16px;
    font-family: Agency FB;
    background-color: $color-principal; //llamado desde variables
    img{
        display: flex;
        width: 100%;
        height: 47px;
    }
    nav ul{
        @extend %flex; //llamado desde extend
        column-gap: 5px;
        font-weight: bold;
        li{
            a{
                text-decoration: none;
                color: nth($colores, 2); //llamado desde listas
            }
            a:hover{
                color: $color-boton;
            }
        }
    }
}

.boton{
    button{
        @include boton; //llamado de mixin sin parametros
    }
    button:hover{
        @include boton-hover; //llamado de mixin sin parametros
    }
    button a{
        text-decoration: none;
        color: white;
    }
}

//Propiedades del Padre
main{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
                        "principal principal principal"
                        "promocion promocion promocion"
                        "promocion2 promocion2 promocion2"
                        "card card card"
                        "equipo equipo equipo"
                        "clase clase clase"
                        "contacto contacto contacto";
    justify-items: center;
    align-items: center;
    //Propiedades de los Hijos
    .principal{
        width: 100%;
        font-family: Agency FB;
        font-weight: bold;
        grid-area: principal;
        position: relative;
        img{
            margin: 0px;
            @include medidas(100%, 250px); //llamado desde mixin
        }
        h1{
            width: 200px;
            text-align: left;
            color: nth($colores, 2); //llamado desde listas
            font-size: 24px;
            font-weight: bold;
            position: absolute;
            top: 50px;
            left: 40px;
        }
        button{
            height: 34px;
            width: 108px;
            position: absolute;
            top: 180px;
            left: 80px;
        }
    }

    .titulos h4{
        width: 100%;
        text-align: center;
        color: nth($colores, 2); //llamado desde listas
        font-family: Agency FB;
        font-weight: bold;
        font-size: 35px;
        position: absolute;
        top: 140px;
    }

    .promocion{
        @extend %flex; //llamado desde extend
        width: 100%;
        height: 50px;
        background-color: $color-principal; //llamado desde variables
        grid-area: promocion;
        align-items: center;
        h2, button{
            margin: 5px;
        }
        h2{
            font-size: 16px;
            color: nth($colores, 2); //llamado desde listas
            font-family: Agency FB;
            font-weight: bold;
        }
    }

    .equipo{
        grid-area: equipo;
        text-align: center;
        margin: 10px;
        color: nth($colores, 2); //llamado desde listas
        h2{
            margin: 10px;
            font-size: 24px;
            font-family: Agency FB;
            font-weight: bold;
        }
        img{
            @include medidas(290px, 400px); //llamado desde mixin
            margin: 10px;
            justify-content: center;
        }
    }
}

footer{
    text-align: center;
    color: nth($colores, 2); //llamado desde listas
    font-family: Agency FB;
    font-weight: bold;
    img{
        margin: 0%;
        width: 150px;
        height: 47px;
    }
    p{
        margin: 0px;
        font-size: 12px;
    }
    h3{
        margin: 5px 0;
        font-weight: bold;
        text-decoration: none;
        color: $color-principal; //llamado desde variables
        font-size: 18px;
    }
    .primero div, .primero p{
        display: inline-block;
        margin: 10px;
        width: 250px;
        height: 100%;
    }
    ol{
        padding-left: 0px !important;
        li{
            list-style: none;
            font-weight: bold;
            a{
                margin: 2px;
                text-decoration: none;
                color: nth($colores, 2); //llamado desde listas
                font-size: 16px;
            }
            a:hover{
                color: $color-boton; //llamado desde variables
            }
        }
    }
    form{
        text-align: left;
        font-family: Agency FB;
        font-weight: bold;
        margin: 5px;
        input{
            background: nth($colores, 4); //llamado desde listas;
            font-size: 16px;
            width: 245px;
            height: 46px;
            margin-top: 10px;
            padding-left: 10px;
            margin-bottom: 20px;
            border: none;
        }
        input::-webkit-input-placeholder{
            color: $color-texto; //llamado desde variables
        }
        button{
            margin: 5px 0;
            height: 46px;
            width: 157px;
            background-color: $color-principal; //llamado desde variables
            color: nth($colores, 2); //llamado desde listas
            font-family: Agency FB;
            font-size: 16px;
            border: none;
            border-radius: 4px;
        }
    }
    .segundo div, .segundo p{
        display: inline-block;
        margin: 5px;
        width: 300px;
    }
    .segundo i{
        margin: 5px;
        color: nth($colores, 2); //llamado desde listas
    }
}

/*MediaQueries*/
@media (max-width: 992px) and (min-width: 576px)  {
    main{
        .promocion{
            h2{
                font-size: 25px;
            }
        }
        .equipo img{
            @include medidas(170px, 250px); //llamado desde mixin
            margin: 5px;
            justify-content: center;
        }
    }
    footer{
        img{
            margin: 4%;
            height: 50px;
            width: 150px;
        }
        .primero div, .primero p{
            @include medidas(190px, 100%); //llamado desde mixin
            margin: 0px;
        }
        h3{
            margin: 0px;
        }
        p{
            font-size: 12px;
        }
        form{
            input{
                font-size: 20px;
                width: 180px;
                height: 46px;
            }
            input::-webkit-input-placeholder{
                color: $color-texto; //llamado desde variables
            }
            button{
                margin: 0px;
                height: 46px;
                width: 157px;
                font-size: 16px;
            }
        }
        .segundo div, .segundo p{
            display: inline;
            margin: 15px;
            width: 100%;
        }
    }
}

@media screen and (min-width:993px){

    header{
        font-size: 24px;
        img{
            width: 100%;
            height: 60px;
        }
        nav {
            ul{
                li{
                    a{
                        margin: 20px;
                    }
                }
            }
        }
        .boton{
            button{
                @include medidas(238px, 50px); //llamado desde mixin
                font-size: 24px;
            }
        }
    }

    main{
        .principal{
            img{
                margin: 0px;
                width: 100%;
                height: 655px;
            }
        }
        .titulos h4{
            font-size: 75px;
            position: absolute;
            top: 460px;
        }
        .promocion{
            width: 100%;
            height: 81px;
            padding: 4rem;
            h2{
                font-size: 48px;
            }
            h2, button{
                margin: 10px;
            }
            button{
                @include boton2; //llamado de mixin sin parametros
            }
        }
        .titulo h4{
            margin: 20px;
            font-family: Agency FB;
            font-size: 55px;
        }
        .equipo{
            h2{
                margin: 20px;
                font-size: 48px;
            }
            img{
                width: 316px;
            }
        }
    }

    footer{
        p{
            margin: 0px;
            font-size: 16px;
        }
        .primero div, .primero p{
            @include medidas(350px, 100%); //llamado desde mixin
            justify-content: center;
        }
        img{
            margin: 0%;
            @include medidas(150px, 50px); //llamado desde mixin
        }
        h3{
            margin: 10px 0;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            color: #09A2F9;
        }
        form{
            input{
                font-size: 18px;
                @include medidas(280px, 46px); //llamado desde mixin
            }
            input::-webkit-input-placeholder{
                color: $color-texto; //llamado desde variables
            }
            //llamado desde map
            button{
                margin: map-get($map: $boton-footer, $key: margin-boton-footer);
                color: map-get($map: $boton-footer, $key: color-boton-footer);
                font-size: map-get($map: $boton-footer, $key: font-boton-footer);
            }
        }
        .segundo div, .segundo p{
            display: inline;
            margin: 20px 30px;
        }
    }
}
